.start-button {
	background-color: #F2EFE4;
	color: #030640;
	border-color: #F2EFE4;
}
body {
	background-color: #F2EFE4;
}
h1.text-center {
	color: #F2C6A0;
	padding-bottom: 20px;
}
.jumbotron {
	background-color: #030640;
}
span.timer {
	color: #730F06;
	font-size: 40px;
}
p.text-center{
	color: #F2C6A0
}
p.answer{
	background-color: #F2EFE4;
	color: #030640;
	border-color: #F2EFE4;
	border-radius: 25px;
	text-align: center;
	padding: 10px, 16px, 10px, 16px;
}
.btn-primary:hover {
	color: #F2EFE4;
	background-color: #730F06;
	border-color: #730F06;
}